* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

.mainDiv {
  background: rgb(60, 0, 0);
  background: linear-gradient(
    130deg,
    rgba(60, 0, 0, 1) 0%,
    rgba(185, 13, 13, 1) 60%
  );
}

.mainDiv .heading {
  font-family: "Caveat", cursive;
}
